*.orig
*.rej
*.bak
*.pyc
*.exe
*.pdb
TAGS
/build
/build.ninja
/ninja
/build_log_perftest
/canon_perftest
/hash_collision_bench
/ninja_test
/parser_perftest
/graph.png
/doc/manual.html
/doc/doxygen
.DS_Store
.*.swp
.*~
*~
