*.html
*.diff
*.rst
*.orig
*.bak
*.pyc
*.exe
*.pdb
tags
TAGS
/.project
/.cproject
/.cproject
/.pydevproject
/.externalToolBuilders
/bin
/test
/build
/build.ninja
/ninja
/ninja_test
/parser_perftest
/build_log_perftest
/graph.png
/doc/manual.html
/doc/doxygen
.DS_Store
.*.swp
.*~
*~
