*.pyc
*.exe
TAGS
/build
/build.ninja
/ninja
/build_log_perftest
/canon_perftest
/hash_collision_bench
/ninja_test
/ninja-deplist-helper
/parser_perftest
/graph.png
/doc/manual.html
/doc/doxygen
gtest-1.6.0
