version: 2.1

executors:
  docker-executor:
    docker:
      - image: cimg/base:stable

jobs:
  build:
    executor: docker-executor
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y clang-tidy
      - run:
          name: Build Project
          command: |
            cmake -Bbuild-cmake
            cmake --build build-cmake
      - persist_to_workspace:
          root: .
          paths:
            - build-cmake

  test:
    executor: docker-executor
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Run Tests
          command: |
            ./build-cmake/ninja_test

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
