name: macOS

on:
  pull_request:
  push:
  release:
    types: published

jobs:
  build:
    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: brew install re2c p7zip cmake

    - name: Build ninja
      shell: bash
      env:
        MACOSX_DEPLOYMENT_TARGET: 10.12
      run: |
        cmake -DCMAKE_BUILD_TYPE=Release -B build
        cmake --build build --parallel --config Release

    - name: Test ninja
      run: ctest -vv
      working-directory: build

    - name: Create ninja archive
      shell: bash
      run: |
        mkdir artifact
        7z a artifact/ninja-mac.zip ./build/ninja

    # Upload ninja binary archive as an artifact
    - name: Upload artifact
      uses: actions/upload-artifact@v1
      with:
        name: ninja-binary-archives
        path: artifact

    - name: Upload release asset
      if: github.event.action == 'published'
      uses: actions/upload-release-asset@v1.0.1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ./artifact/ninja-mac.zip
        asset_name: ninja-mac.zip
        asset_content_type: application/zip
